# Hidden folder .idea contains IntelliJ's project specific settings files (from using PyCharm)
.idea/

# Project files we definitely do not want stored on GitHub
creds.yml
*.pkl
*.log
*.json
*.yml
*.rtf
*.xlsx

# System files we do not want stored on Github
# This is a macOS system file that is generated when you look in a folder with Finder. Can be a security vulnerability.
.DS_Store
**/__pycache__
**/__pycache__/

# Data and output folders for 
.Rproj.user
